extends ../layout.jade
block contenido
 body()
    form(action="/modificar_aprendices_fichas/#{perfiles[0].id_gestion_ficha_aprendiz}" method="post")
        center
            h1(style="color:green") MODIFICAR APRENDIZ A OTRA FICHA
            
            label(style="font-size:3vw;") Numero de Ficha
            
            div(class="form-group")
                label(style="font-size:3vw;" ) Fichas
                select(name="Id_GestionDeFichas" class="form-control col-sm-3 col-ls-3 col-lg-3 col-xl-3")
                    each ficha in fichas
                        option(value="#{ficha.Id_GestionDeFichas}")= ficha.Numero_de_ficha

            div(class="form-group")
                label(style="font-size:3vw;") aprendiz
                select(name="id_administrar_perfil" class="form-control col-sm-3 col-ls-3 col-lg-3 col-xl-3")
                    each perfil in perfiles
                        option(value="#{perfil.id_administrar_perfil}")= perfil.nombre_usuario +' ' +perfil.numero_de_identificacion


            input(class="btn btn-success btn-lg btn-block",type="submit", value="actualizar")