extends ../layout.jade
block contenido
    h1= title
    p= respuestaUsuario
    a(class="badge badge-secondary" href="/gestion_de_ruta_de_aprendizaje/edit?accion=#{accion}&id_programa_formacion=#{id_programa_formacion}") Volver
        
            
