extends ../layout.jade
block contenido
    h1= title
    p= respuestaUsuario
    a(class="badge badge-secondary" href="/gestion_de_ruta_de_aprendizaje/edit/#{id_programa_formacion}?accion=#{accion}") Volver
        
            
