- var tituloMenu = "formacion que recibe ficha"

- var dirreccionEdicion= `/gestion_de_la_formacion_instructor_ficha/${Id_GestionDeFichas}`

- var dirreccionCrear= `/gestion_de_la_formacion_instructor_ficha/edit/${Id_GestionDeFichas}?accion=Crear`


include ../utilidades_ruta_aprendizaje/menu.jade