
extends ../layout.jade
block contenido
    br
    center
         div(class="col-xs-4 col-md-4")
                img.mb-4(src="https://miadministradora.es/wp-content/uploads/2017/10/cambiar-administrador.jpg", alt='150', width='200', height='200')
                h6 ya puedes seguir trabajando 
                h5 solo ingresa a tu correo  
                a(href="control_de_acceso") inicia seción
    
                
         
