
- var informacionLabel="Resultado de aprendizaje",nombreDelName="resultadoAprendizaje"
- var urlExistenciaCodigo = `/gestion_de_resultado_aprendizaje/existencia/${id_gestion_de_competencia}?codigo`

include ../utilidades_ruta_aprendizaje/formulario.jade