extends ../layout.jade
block contenido
    center 
        
        br
        h1(style= "font-size:5vw") Respuesta de fichas activo
            p(style="color:blue;font-size:3vw")= respuesta 
        a( class="btn-info" style=" border-radius:60px " href="#{direccion}") volver