
- var informacionLabel="Competencia",nombreDelName="competencia"
- var urlExistenciaCodigo = "/gestion_de_competencia/consultar_existencia?codigo_competencia"
include ../utilidades_ruta_aprendizaje/formulario.jade