extends ../layout.jade
block contenido

    h1 hola
    p el valor es: #{locals.options.chGlobal.perfil}
    each usuario in usuarios
        li=usuario.numero_de_identificacion+' '+usuario.correo_sena