
- var informacionLabel="Programa de formacion",nombreDelName="programa_de_formacion"
- var urlExistenciaCodigo = "/gestion_de_programas_de_formacion/consultar_existencia?codigo_programa_de_formacion"
include ../utilidades_ruta_aprendizaje/formulario.jade