

- var tituloMenu = "Gestion de programa de formacion"

- var dirreccionEdicion= "/gestion_de_programas_de_formacion/edicion_programas_de_formacion"

- var dirreccionCrear= "/gestion_de_programas_de_formacion?accion=Crear"
include ../utilidades_ruta_aprendizaje/menu.jade
a(href="/gestion_de_ruta_de_aprendizaje"  class="btn btn-outline-secondary")  < Agregar Competencias a programa de formación

