extends ../layout.jade
block contenido
 center
    br
    br
    label(style="font-size:5vw"   for="")= respuestaUsuario
    
    br
    a(class="form-control badge badge-danger" style="font-size:2vw;" href="/gestion_perfiles/usuarios") volver a gestion de perfiles